<h1><%= @student.to_s %></h1>

<% if @student.active %>
  <%= "This student is currently active." %>
  <br>
  <br>
  <%= link_to "Inactivate", activate_student_path(@student) %>
<% else %>
  <%= "This student is currently inactive." %>
  <br>
  <br>
  <%= link_to "Activate", activate_student_path(@student) %>
<% end %>
